@font-face {
	font-family: "Lato";
	src: url('../fonts/Lato-Regular.ttf');
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #ef7623;
	border-color: #ad7623;
  color: white;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
	overflow: hidden;
	font-family: Lato,sans-serif;
}

.logo {
    margin: 0 3%;
}

.logo img {
	padding-top: 20px;
	height: 60px;
}

#header {
    background: #343131;
    height: 100px;
		border-bottom: 5px solid #ef7623;
}

#main {
	height: calc(100% - 105px);
	text-align: center;
	overflow-y: auto;
	background: white url("../images/back.jpg") no-repeat center;
	display: inline-grid;
}

.link-title {
	padding-top: 20px;
	padding-bottom: 20px;
}

.flex-container {
  padding: 0;
	margin: auto;
	width: 80%;
	height: 100%;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

	flex-wrap: wrap;
  justify-content: space-around;
	align-content: center;
}

.flex-item {
  min-width: 200px;
	margin: 10px 20px 10px 20px;
	padding: 0 calc((100% - 240px * 3) / 12);
	flex-basis: 15%;
  text-align: center;
	background: white;
	opacity: 0.80;

	border: 1px solid #DDDDDD;
	border-radius: 15px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	font-size: 20px;
	color: #ef7623;
	font-weight: 500;
	text-transform: uppercase;
}

.flex-item:hover {
	cursor: pointer;
}

.item-fade {
  position:relative;
  height:140px;
  width:140px;
  margin:0 auto;
}

.item-fade img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.flex-item:hover .item-fade img.active {
  opacity:0;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
  
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 12px 20px;
  margin: 0;
  font-size: 20px;
  background-color: #EEE;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 16px 30px;
  font-size: 20px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 10px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.popover-red > .popover-inner > .popover-title {
  color: rgba(190, 23, 23, 0.877);
}
.popover-green > .popover-inner > .popover-title {
  color: rgb(51, 145, 51);
}
.light{  
  margin-top: 8%;
  margin-left: 80%;
  width: 20px;
}
.light:hover{  
  margin-top: 8%;
  margin-left: 80%;
  width: 20px;
  transform:scale(1.25)
}
